.banner {
    background-color: rgba(232,233,253,0.4);
    padding: 20px 0 0;
}

.content {
    width: 50%;
    padding-right: 60px;
    padding: 60px 60px 60px 0;
}
.img {
    width: 50%;
}

.content h1{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}
.content p{
    font-size: 18px;
    line-height: 23px;
    color: #4f4f4f;
    font-weight: 400;
}
.points {
    display: flex;
    margin: 40px 0 0 0;
    justify-content: space-between;
    padding-right: 30%;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
}

.points b {font-size: 24px;}